<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
      autoReload="true"
      throwExceptions="false">
  <variable name="Encoding" value="utf-8" />
  <variable name="MessageLayout" value="${longdate}|${level}|${threadid}| ${message} | ${exception:format=ToString}" />
  <targets>

    <target name="AsyncWrapperFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" encoding="${Encoding}" autoFlush="true" archiveEvery="Day" concurrentWrites="true" createDirs="true" fileName="C:\Logs\PrimeDatingSaver\${shortdate}.log">
        <layout xsi:type="SimpleLayout" text="${MessageLayout}"></layout>
      </target>
    </target>

    <target name="DatabaseWrapper" xsi:type="Database" keepConnection="false" useTrnsactions="true"
            dbProvider="System.Data.SqlClient"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=PrimeDatingData;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"
            commandText="INSERT INTO LOGINFO (DateTime, Level, Message, Exception) VALUES (SYSDATETIME(), :LEVEL, :MESSAGE, :EXCEPTION)">
      <parameter name="LEVEL" layout="${level:uppercase=true}" />
      <parameter name="MESSAGE" layout="${message}" />
      <parameter name="EXCEPTION" layout="${exception:format=ToString}" />
    </target>

  </targets>
  <rules>
    <logger minlevel="Trace" maxlevel="Fatal" name="*" writeTo="AsyncWrapperFile"/>
    <logger minlevel="Trace" maxlevel="Fatal" name="*" writeTo="DatabaseWrapper"/>
  </rules>
</nlog>