<?xml version="1.0" encoding="utf-8"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sl="http://www.nlog-project.org/schemas/NLog.Targets.Syslog.xsd"
      autoReload="true"
      throwExceptions="false">
  <variable name="Encoding" value="utf-8" />
  <variable name="MessageLayout" value="${longdate}|${level}|${threadid}| ${message} | ${exception:format=ToString}" />
  <targets>

    <target name="AsyncWrapperFile" xsi:type="AsyncWrapper">
      <target xsi:type="File" encoding="${Encoding}" autoFlush="true" archiveEvery="Day" concurrentWrites="true" createDirs="true" fileName="C:\Logs\PrimeDatingSaver\${shortdate}.log">
        <layout xsi:type="SimpleLayout" text="${MessageLayout}"></layout>
      </target>
    </target>

    <!--<target name="OracleDatabaseWrapper" xsi:type="Database" keepConnection="false" useTrnsactions="true"
            dbProvider="Oracle.ManagedDataAccess.Client.OracleConnection, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"
            connectionString="Data Source=(DESCRIPTION = (ADDRESS_LIST = (ADDRESS = (PROTOCOL = TCP)(HOST = kacolldbu02.alfa.bank.int)(PORT = 1521)))(CONNECT_DATA = (SERVICE_NAME = COLLECTSM_R.center.kiev.ua.alfabank)));User ID=LOGGER;Password=LOGGER;"
            commandText="INSERT INTO LOGINFO (datetime, messagelevel, message, appname, exception, source, userid) VALUES (sysdate, :LOGLEVEL, :MESSAGE, :APPNAME, :EXCEPTION, :SOURCE, :USERID)">
      <parameter name="LOGLEVEL" layout="${level:uppercase=true}" />
      <parameter name="MESSAGE" layout="${message}" />
      <parameter name="APPNAME" layout="AlfaCollection.Web" />
      <parameter name="EXCEPTION" layout="${exception:format=ToString}" />
      <parameter name="SOURCE" layout="${stacktrace:format=Flat:topFrames=8:skipFrames=0}" />
      <parameter name="USERID" layout="MachineName: ${machinename}; UserName: ${windows-identity}" />
    </target>-->

  </targets>
  <rules>
    <logger minlevel="Trace" maxlevel="Fatal" name="*" writeTo="AsyncWrapperFile"/>
    <logger minlevel="Trace" maxlevel="Fatal" name="*" writeTo="OracleDatabaseWrapper"/>
  </rules>
</nlog>